* {
    margin: 0px;
    padding: 0px;
}
#wrapper {
    font-family: sans-serif;
    font-size: 12pt;
    width: 70%;
    margin: auto;
}
header {
    background: rgb(171, 130, 238);
    color: white;
    margin: 5px;
    padding: 5px;
}
#divSolDatos {
    border-bottom: 1px dotted darkblue;
}
caption {
    background: rgb(0, 255, 157);
    color: black;
}
#divMuestraDatos table tr th{
    background: rgb(42, 136, 165);
    color: #fff;
}
#divMuestraDatos table tr th, 
#divMuestraDatos table tr td{
    margin: 5px;
    padding: 5px;
}
#solDatos tr td{
    margin: 5px;
    padding: 5px;
}