body{
    margin: 0;
    padding: 0%;
    background: rgb(214, 245, 179);

}
.cont-reloj{
    margin: 170px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 220px;
    width: 40%;
    border: 6px solid rgb(196, 241, 255);
    background: rgb(179, 235, 245);
    box-shadow: -13px -13px -13px  rgb(179, 237, 245),
    15px 15px 15px rgba (13,39,80,26),
    inset -13px -13px 13px #fff,
    inset 15px 15px 15px rgba(13, 39, 80, 26);
    border-radius: 30px;
    font-weight: bold;
    font-family: sans-serif;
    color: #8100cc;
}

.reloj{
    font-size: 4.7cm;
}
.datos{
    font-size: 2.5cm;
    font-family:'Courier New', Courier, monospace;
}
.grande{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}
.boton{
    background: rgb(179, 224, 245);
    display: inline-block;
    font-size: 1.25em;
}
.d{
    font-size: 100px;
    align-items: center;
    background: rgb(179, 224, 245);

}
.tit{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;  
}
.raiz{
    background: rgba(198, 245, 179, 0.74);
    display: inline-block;
    font-size: 1.25em;
}
.cadena{
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
}
.g{
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
}
.boton1{
    background: rgba(179, 230, 245, 0.877);
    display: inline-block;
    font-size: 5em;
    background-position: center;
    background: rgba(179, 224, 245, 0.986);
}